{% extends 'user/base.html' %}

{% load static %}

{% block title %}Checkout page{% endblock %}

{% block content %}
    <!--<script type="text/javascript">

        function deleteOrder(id) {
            {#            alert("orderId   " + orderId);#}
            var id = id;
            {#            alert("quantity   " + quantity);#}

            var ajax = new XMLHttpRequest();

            ajax.onreadystatechange = function () {

                if (ajax.readyState == 4) {

                    var jsn = JSON.parse(ajax.responseText);

                    document.getElementById("deleteId" + id).remove();
                    var totalOrderAmount = jsn['totalOrderAmount']
                    document.getElementById("totalOrderAmount").textContent = totalOrderAmount

                }
            };
            ajax.open("get", "/deleteOrder?orderId=" + id, true);

            ajax.send()
        }
    </script>-->

    <script type="text/javascript">

        function deleteOrder(productId) {
            {#            alert("orderId   " + orderId);#}
            var productId = productId;
            {#            alert("quantity   " + quantity);#}

            var ajax = new XMLHttpRequest();

            ajax.onreadystatechange = function () {

                if (ajax.readyState == 4) {

                    var jsn = JSON.parse(ajax.responseText);
                    var deleteItemId = jsn['deleteItemId']

                    document.getElementById("deleteId" + deleteItemId).remove();
                    var totalOrderAmount = jsn['totalOrderAmount']
                    document.getElementById("totalOrderAmount").textContent = totalOrderAmount


                }
            };
            ajax.open("get", "/deleteOrder?productId=" + productId, true);

            ajax.send()
        }
    </script>

    <script type="text/javascript">

        function selectAddress(id) {
            {#            alert("orderId   " + orderId);#}
            var id = id;
            {#            alert("quantity   " + quantity);#}

            var ajax = new XMLHttpRequest();

            ajax.onreadystatechange = function () {

                if (ajax.readyState == 4) {

                    var jsn = JSON.parse(ajax.responseText);
                    {#                    var beforeDefault = jsn['beforeDefault']#}

                    {#                    document.getElementById("selectId" + beforeDefault).style.backgroundColor = "";#}
                    {#                    document.getElementById("selectId" + id).style.backgroundColor = "yellow";#}

                    {#                    if (id == beforeDefault) {#}
                    {#                        document.getElementById("selectId" + id).style.backgroundColor = "yellow";#}
                    {#                    }#}
                    {#                    else if (beforeDefault == null) {#}
                    {#                        document.getElementById("selectId" + id).style.backgroundColor = "yellow";#}
                    {##}
                    {#                    }#}
                    {#                    else {#}
                    {#                        document.getElementById("selectId" + beforeDefault).style.backgroundColor = "";#}
                    {#                        document.getElementById("selectId" + id).style.backgroundColor = "yellow";#}
                    {##}
                    {#                    }#}

                }
            };
            ajax.open("get", "/selectAddress?addressId=" + id, true);

            ajax.send()
        }
    </script>

    <script type="text/javascript">

        function addCoupon(coupon, productId) {

            var ajax = new XMLHttpRequest();

            ajax.onreadystatechange = function () {

                if (ajax.readyState == 4) {

                    var jsn = JSON.parse(ajax.responseText);
                    var totalOrderAmount = jsn['totalprice']
                    document.getElementById("totalOrderAmount").textContent = totalOrderAmount

                }
            };
            ajax.open("get", "/insertCoupon?productId=" + productId + '&coupon=' + coupon, true);

            ajax.send()
        }
    </script>


    <style>
        table {
        {#            font-family: arial, sans-serif;#} border-collapse: collapse;
            width: 100%;
            border: 0px solid white;
        }

        th {
            border: 1px solid white;
            text-align: center;
            font-weight: bold;
            padding: 10px;
        }

        td {
            border: 1px solid white;
            text-align: center;
            padding: 12px;
        }

        tr:nth-child(even) {
            background-color: hsla(0, 10%, 90%, 0.3);;
        }
    </style>


    <div class="total_area" style="padding-top: 30px;">
        <div style="background-color: hsla(0, 10%, 70%, 0.3); margin-bottom: 15px;">
            <center>
                <div class="page-title-heading">
                    <h1 class="title">Checkout</h1>
                </div><!-- /.page-title-heading -->
                <div class="breadcrumbs" style="margin-top: 20px;">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/checkout">Checkout</a></li>
                    </ul>
                </div>
            </center>
        </div>
    </div>


    {#    <div class="page-title parallax parallax1" style="background-position: 50% 89px;">#}
    {#        <div class="container">#}
    {#            <div class="row">#}
    {#                <div class="col-md-12">#}
    {#                    <div class="page-title-heading">#}
    {#                        <h1 class="title">Checkout</h1>#}
    {#                    </div><!-- /.page-title-heading -->#}
    {#                    <div class="breadcrumbs">#}
    {#                        <ul>#}
    {#                            <li><a href="/">Home</a></li>#}
    {#                            <li><a href="/checkout">Checkout</a></li>#}
    {#                        </ul>#}
    {#                    </div><!-- /.breadcrumbs -->#}
    {#                </div><!-- /.col-md-12 -->#}
    {#            </div><!-- /.row -->#}
    {#        </div><!-- /.container -->#}
    {#    </div>#}



    <section id="cart_items">
        <div class="container">
            <p style="color: red">{% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}</p>
            <div class="table-responsive cart_info" style="padding-top: 30px;">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>Item</th>
                        <th>Item Name</th>
                        <th>Price ($)</th>
                        <th>Quantity</th>
                        <td>color</td>
                        <td>size</td>
                        <td>Total ($)</td>
                        <td>Coupon</td>
                        <th></th>
                    </tr>
                    </thead>
                    {% for key,value in productList.items %}
                        <tbody id="deleteId{{ key }}">
                        {% csrf_token %}
                        <tr>
                            <td>
                                {% load custome_tags %}
                                {% listConverter value.image as images %}
                                <a href=""><img src="/media/{{ images.0 }}.jpeg" alt=""
                                                style="width: 100px;height: 100px"></a>
                            </td>

                            <td>
                                <h4><a href="">{{ value.name }}</a></h4>
                                <p>{{ value.desc }}</p>
                            </td>

                            <td>
                                <p> {{ value.price }}</p>
                            </td>


                            <td class="cart_price">
                                <p>{{ value.quantity }}</p>
                            </td>


                            <td>
                                <p>{{ value.color }}</p>
                            </td>
                            <td>
                                <p>{{ value.size }}</p>
                            </td>


                            <td>

                                <p id="totalPrice">
                                    {{ value.totalprice }}</p>
                            </td>

                            {% if value.couponAvailable == 'yes' %}
                                {% if 'coupon' in value %}
                                    <td>
                                        <p>{{ value.coupon }}</p>
                                    </td>
                                {% else %}
                                    <td>
                                        <input type="text" name="coupon" value=""
                                               onchange="addCoupon(this.value,{{ key }})">
                                    </td>
                                {% endif %}
                            {% else %}
                                <td></td>
                            {% endif %}


                            <td>
                                <a class="cart_quantity_delete" onclick="deleteOrder({{ key }})"><i
                                        class="fa fa-times"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </section> <!--/#cart_items-->

    <section id="do_action" style="margin-bottom: 30px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12" style="width: 100%">
                    <div class="total_area" style="padding-bottom: 50px; padding-top: 10px;">
                        <div style="background-color: hsla(0, 10%, 70%, 0.3); margin-bottom: 15px;">
                            <center>
                                <ul style="font-size: 15px;">
                                    <b>
                                        <li>Total ($) &nbsp;&nbsp;&nbsp; <span
                                                id="totalOrderAmount">{{ orderList.totalPrice }}</span>
                                        </li>
                                    </b>
                                </ul>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="step-one">
                <div class="col-sm-12">
                    <h2 class="heading">Address</h2>
                </div>
            </div>

            <div class="shopper-informations">
                <div class="row">
                    {% for i in viewAddress %}
                        {% if i.action == 'default' %}
                            <div class="col-sm-4" id="selectId{{ i.id }}" style="background-color: yellow">
                                <div class="shopper-info">
                                    <ul class="nav">
                                        <li>
                                            <label> Name</label>&nbsp;: &nbsp;<label
                                                style="color: orange;"> {{ i.fullName }}</label>
                                        </li>
                                        <li>
                                            <label> Mobile No</label>&nbsp;: &nbsp;<label
                                                style="color: orange;"> {{ i.mobileNo }}</label>
                                        </li>
                                        <li>
                                            <label> Address</label>&nbsp;: &nbsp;<label
                                                style="color: orange;">{{ i.home }}<br>{{ i.address }}<br>{{ i.landmark }}<br>{{ i.town }}<br>{{ i.state }}<br>{{ i.country }}
                                        </label>
                                        </li>

                                    </ul>
                                    <a href="/editAddress?addressId={{ i.id }}">
                                        <button class="btn btn-default" type="submit" style="margin-right: 10px;">Edit
                                        </button>
                                    </a>
                                    <a href="/loadPayment" onclick="selectAddress({{ i.id }})">
                                        <button class="btn btn-default" type="submit">Select
                                            & payment
                                        </button>
                                    </a>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-sm-4" id="selectId{{ i.id }}">
                                <div class="shopper-info">
                                    <ul class="nav">
                                        <li>
                                            <label> Name</label>&nbsp;: &nbsp;<label
                                                style="color: orange;"> {{ i.fullName }}</label>
                                        </li>
                                        <li>
                                            <label> Mobile No</label>&nbsp;: &nbsp;<label
                                                style="color: orange;"> {{ i.mobileNo }}</label>
                                        </li>
                                        <li>
                                            <label> Address</label>&nbsp;: &nbsp;<label
                                                style="color: orange;">{{ i.home }}<br>{{ i.address }}<br>{{ i.landmark }}<br>{{ i.town }}<br>{{ i.state }}<br>{{ i.country }}
                                        </label>
                                        </li>

                                    </ul>
                                    <a href="/editAddress?addressId={{ i.id }}">
                                        <button class="btn btn-default" type="submit" style="margin-right: 10px;">Edit
                                        </button>
                                    </a>
                                    <a href="/loadPayment" onclick="selectAddress({{ i.id }})">
                                        <button class="btn btn-default" type="submit">Select
                                            & payment
                                        </button>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="col-sm-4">
                        <div class="shopper-info">
                            <ul class="nav">


                            </ul>
                            <a href="/loadAddress">
                                <button type="submit" class="btn btn-default">New <br>Address</button>
                            </a>
                        </div>
                    </div>


                </div>
            </div>
        </div>


    </section><!--/#do_action-->

    <br>



{% endblock %}



{% block js %}

    <script>

        jQuery(document).ready(function () {
            // This button will increment the value
            $('.qtyplus').click(function (e) {
                // Stop acting like a button
                e.preventDefault();
                // Get the field name
                fieldName = $(this).attr('field');
                // Get its current value
                var currentVal = parseInt($('input[id=' + fieldName + ']').val());
                // If is not undefined
                if (!isNaN(currentVal)) {
                    // Increment
                    $('input[id=' + fieldName + ']').val(currentVal + 1);
                } else {
                    // Otherwise put a 0 there
                    $('input[id=' + fieldName + ']').val(0);
                }
            });
            // This button will decrement the value till 0
            $(".qtyminus").click(function (e) {
                // Stop acting like a button
                e.preventDefault();
                // Get the field name
                fieldName = $(this).attr('field');
                // Get its current value
                var currentVal = parseInt($('input[id=' + fieldName + ']').val());
                // If it isn't undefined or its greater than 0
                if (!isNaN(currentVal) && currentVal > 0) {
                    // Decrement one
                    $('input[id=' + fieldName + ']').val(currentVal - 1);
                } else {
                    // Otherwise put a 0 there
                    $('input[id=' + fieldName + ']').val(0);
                }
            });
        });


    </script>

{% endblock %}