{% extends 'user/base.html' %}

{% load static %}

{% block title %}Search Page{% endblock %}

{% block content %}

    <script type="text/javascript">

        function insertOrder(id) {
            {#            alert("orderId   " + orderId);#}
            var id = id;
            {#            alert("quantity   " + quantity);#}

            var ajax = new XMLHttpRequest();

            ajax.onreadystatechange = function () {

                if (ajax.readyState == 4) {

                    var jsn = JSON.parse(ajax.responseText);
                    var loginRequire = jsn['loginRequire']
                    if (loginRequire == 'loginRequire') {
                        window.location.href = "http://127.0.0.1:8000/loadLogin";

                    }
                }
            };
            ajax.open("get", "/insertOrder?id=" + id, true);

            ajax.send()
        }
    </script>


    <script type="text/javascript">
        function inserWishlist(id) {
            {#            alert("orderId   " + orderId);#}
            var id = id;
            {#            alert("quantity   " + quantity);#}

            var ajax = new XMLHttpRequest();

            ajax.onreadystatechange = function () {

                if (ajax.readyState == 4) {

                    var jsn = JSON.parse(ajax.responseText);
                    var loginRequire = jsn['loginRequire']
                    if (loginRequire == 'loginRequire') {
                        window.location.href = "http://127.0.0.1:8000/loadLogin";

                    }

                }
            };
            ajax.open("get", "/inserWishlist?id=" + id, true);

            ajax.send()
        }
    </script>

    <style>

        .parallax1 {
            background-image: url("{% static '/userResources/modaz/jpg/bg-parallax1.jpg' %}");
        }

        .half-background.style-1 {
            background-image: url("{% static '/userResources/modaz/jpg/bg-countdown-1-962x506.jpg' %}");
        }


    </style>

    <div class="total_area" style="padding-top: 30px;">
        <div style="background-color: hsla(0, 10%, 70%, 0.3); margin-bottom: 15px;">
            <center>
                <div class="page-title-heading">
                    <h1 class="title">Search</h1>
                </div><!-- /.page-title-heading -->
                <div class="breadcrumbs" style="margin-top: 20px;">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/search">Search</a></li>
                    </ul>
                </div>
            </center>
        </div>
    </div>

    {#    <div class="page-title parallax parallax1" style="background-position: 50% 89px;">#}
    {#        {% for name,key,value in request.session.categoryData.items %}#}
    {#            <div class="container">#}
    {#                <div class="row">#}
    {#                    <div class="col-md-12">#}
    {#                        <div class="page-title-heading">#}
    {#                            <h1 class="title">{{ key }}</h1>#}
    {#                        </div><!-- /.page-title-heading -->#}
    {#                        {% for key,value in value.items %}#}
    {#                            <div class="breadcrumbs">#}
    {#                                <ul>#}
    {#                                    <li><a href="/">Home</a></li>#}
    {#                                    <li><a href="/">{{ key }}</a></li>#}
    {#                                    <li><a href="/">{{ value }}</a> </li>#}
    {#                                </ul>#}
    {#                            </div><!-- /.breadc   rumbs -->#}
    {#                        {% endfor %}#}
    {#                    </div><!-- /.col-md-12 -->#}
    {#                </div><!-- /.row -->#}
    {#            </div><!-- /.container -->#}
    {#        {% endfor %}#}
    {#    </div>#}


    <!-- PRODUCT -->
    <section class="flat-row row-product-project shop-collection">
        <div class="container">
            <div class="row">
                <div class="col-md-12">


                    <div class="divider h40"></div>
                    <div class="product-content product-fourcolumn clearfix">
                        {% for product, range, nSlides in allProds %}
                            <h2 class="title text-center"
                                style="padding-bottom: 20px; padding-top: 30px;">{{ product.0.category }}</h2>
                            <ul class="product style2 isotope-product clearfix">
                                {% for i in product %}
                                    <li class="product-item kid woman">
                                        <div class="product-thumb clearfix">
                                            {% load custome_tags %}
                                            {% listConverter i.image as images %}
                                            {#                                    <a href="#">#}
                                            <img src="/media/{{ images.0 }}.jpeg" alt="/"
                                                 style="width:150px; height:200px;">
                                            {#                                    </a>#}
                                        </div>
                                        {#                                {{ i.id }}#}
                                        <div class="product-info clearfix" style="padding-top: 10px;">
                                            <span class="product-title">{{ i.name }}</span>
                                            <div class="price">
                                                <ins>
                                                    <span class="amount">$ {{ i.price }}</span>
                                                </ins>
                                            </div>
                                            {#                                    <ul class="flat-color-list width-14">#}
                                            {#                                        <li>#}
                                            {#                                            <a href="#" class="red"></a>#}
                                            {#                                        </li>#}
                                            {#                                        <li>#}
                                            {#                                            <a href="#" class="blue"></a>#}
                                            {#                                        </li>#}
                                            {#                                        <li>#}
                                            {#                                            <a href="#" class="black"></a>#}
                                            {#                                        </li>#}
                                            {#                                    </ul>#}
                                        </div>
                                        <div class="add-to-cart text-center">
                                            <a onclick="insertOrder({{ i.id }})">ADD TO CART</a>
                                        </div>
                                        <a onclick="inserWishlist({{ i.id }})"><i class="fa fa-heart-o"></i></a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END PRODUCT -->

    <!-- COUNTDOWN -->
    <div class="flat-row row-countdown no-padding">
        <div class="container-fluid">
            <div class="row equal sm-equal-auto">
                <div class="col-md-6 half-background style-1" style="height: 506px;">

                </div>
                <div class="col-md-6 bg-section bg-color-f5f" style="height: 506px;">
                    <div class="flat-content-box clearfix" data-margin="0 0 0 8px" data-mobilemargin="0 0 0 0">
                        <div class="flat-countdown-wrap text-center">
                            <div class="inner">
                                <div class="divider h120 clearfix"></div>
                                <h2 class="heading font-size-40 line-height-48">Deal Of The Week</h2>
                                <p class="desc font-size-18 font-weight-400 line-height-48">Special Discount Limited
                                    Time
                                    Only</p>
                                <div class="divider h42 clearfix"></div>
                                <div class="wrap-countdown no-margin-bottom">
                                    <div class="countdown style-1"></div>
                                </div>
                                <div class="divider h120 clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END COUNTDOWN -->

    <!-- PRODUCT NEW -->
    <section class="flat-row row-best-sale">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-section margin-bottom-43">
                        <h2 class="title">
                            Best Sale
                        </h2>
                    </div>
                    <div class="product-content product-fivecolumn clearfix">
                        <ul class="product style3">
                            <li class="product-item">
                                <div class="product-thumb clearfix">
                                    <a href="#">
                                        <img src="{% static '/userResources/modaz/jpg/1.jpg' %}" alt="image">
                                    </a>
                                    <span class="new sale">Sale</span>
                                </div>
                                <div class="product-info clearfix">
                                    <span class="product-title">Faux shearling aviator<br> jacket</span>
                                    <div class="price">
                                        <del>
                                            <span class="regular">$130.00</span>
                                        </del>
                                        <ins>
                                            <span class="amount">$100.00</span>
                                        </ins>
                                    </div>
                                </div>
                                <div class="add-to-cart text-center">
                                    <a href="#">ADD TO CART</a>
                                </div>
                                <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                            </li>
                            <li class="product-item">
                                <div class="product-thumb clearfix">
                                    <a href="#">
                                        <img src="{% static '/userResources/modaz/jpg/2.jpg' %}" alt="image">
                                    </a>
                                    <span class="new">New</span>
                                </div>
                                <div class="product-info clearfix">
                                    <span class="product-title">Cotton White Underweaer Block Out Edition</span>
                                    <div class="price">
                                        <ins>
                                            <span class="amount">$100.00</span>
                                        </ins>
                                    </div>
                                    <ul class="flat-color-list">
                                        <li>
                                            <a href="#" class="red"></a>
                                        </li>
                                        <li>
                                            <a href="#" class="blue"></a>
                                        </li>
                                        <li>
                                            <a href="#" class="black"></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="add-to-cart text-center">
                                    <a href="#">ADD TO CART</a>
                                </div>
                                <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                            </li>
                            <li class="product-item">
                                <div class="product-thumb clearfix">
                                    <a href="#">
                                        <img src="{% static '/userResources/modaz/jpg/3.jpg' %}" alt="image">
                                    </a>
                                    <span class="new">New</span>
                                </div>
                                <div class="product-info clearfix">
                                    <span class="product-title">Hood wool blend duffle<br> coat</span>
                                    <div class="price">
                                        <ins>
                                            <span class="amount">$130.00</span>
                                        </ins>
                                    </div>
                                </div>
                                <div class="add-to-cart text-center">
                                    <a href="#">ADD TO CART</a>
                                </div>
                                <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                            </li>
                            <li class="product-item">
                                <div class="product-thumb clearfix">
                                    <a href="#">
                                        <img src="{% static '/userResources/modaz/jpg/4.jpg' %}" alt="image">
                                    </a>
                                    <span class="new sale">Sale</span>
                                </div>
                                <div class="product-info clearfix">
                                    <span class="product-title">Slim-fit patterned suit<br> blazer</span>
                                    <div class="price">
                                        <del>
                                            <span class="regular">$170.00</span>
                                        </del>
                                        <ins>
                                            <span class="amount">$139.00</span>
                                        </ins>
                                    </div>
                                </div>
                                <div class="add-to-cart text-center">
                                    <a href="#">ADD TO CART</a>
                                </div>
                                <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                            </li>
                            <li class="product-item">
                                <div class="product-thumb clearfix">
                                    <a href="#">
                                        <img src="{% static '/userResources/modaz/jpg/5.jpg' %}" alt="image">
                                    </a>
                                    <span class="new sale">Sale</span>
                                </div>
                                <div class="product-info clearfix">
                                    <span class="product-title">Cotton cashmereblend<br> cardigan</span>
                                    <div class="price">
                                        <del>
                                            <span class="regular">$130.00</span>
                                        </del>
                                        <ins>
                                            <span class="amount">$100.00</span>
                                        </ins>
                                    </div>
                                    <ul class="flat-color-list">
                                        <li>
                                            <a href="#" class="red"></a>
                                        </li>
                                        <li>
                                            <a href="#" class="blue"></a>
                                        </li>
                                        <li>
                                            <a href="#" class="black"></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="add-to-cart text-center">
                                    <a href="#">ADD TO CART</a>
                                </div>
                                <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                            </li>
                        </ul><!-- /.product -->
                    </div><!-- /.product-content -->
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>
    <!-- END PRODUCT NEW -->

    <!-- ICON BOX -->
    <section class="flat-row row-icon-box style-1 bg-section bg-color-f5f" style="margin-bottom: 60px;">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="flat-icon-box icon-left w55 circle bg-white style-1 clearfix">
                        <div class="inner no-margin  flat-content-box " data-margin="0 0 0 0"
                             data-mobilemargin="0 0 0 0">
                            <div class="icon-wrap">
                                <i class="fa fa-truck"></i>
                            </div>
                            <div class="text-wrap">
                                <h5 class="heading letter-spacing--1"><a href="#">Free Shipping</a></h5>
                                <p class="desc">Apply order over $99</p>
                            </div>
                        </div>
                    </div>
                </div><!-- /.col-md-3 -->
                <div class="col-md-3">
                    <div class="flat-icon-box icon-left w55 circle bg-white style-1 clearfix">
                        <div class="inner flat-content-box" data-margin="0 0 0 7px" data-mobilemargin="0 0 0 0">
                            <div class="icon-wrap">
                                <i class="fa fa-money"></i>
                            </div>
                            <div class="text-wrap">
                                <h5 class="heading letter-spacing--1"><a href="#">Cash On Delivery</a></h5>
                                <p class="desc">Internet Trend To Repeat</p>
                            </div>
                        </div>
                    </div>
                </div><!-- /.col-md-3 -->
                <div class="col-md-3">
                    <div class="flat-icon-box icon-left w55 circle bg-white style-1 clearfix">
                        <div class="inner flat-content-box" data-margin="0 0 0 46px" data-mobilemargin="0 0 0 0">
                            <div class="icon-wrap">
                                <i class="fa fa-gift"></i>
                            </div>
                            <div class="text-wrap">
                                <h5 class="heading letter-spacing--1"><a href="#">Gift For All</a></h5>
                                <p class="desc">Gift When Subscribe</p>
                            </div>
                        </div>
                    </div>
                </div><!-- /.col-md-3 -->
                <div class="col-md-3">
                    <div class="flat-icon-box icon-left w55 circle bg-white style-1 clearfix">
                        <div class="inner flat-content-box" data-margin="0 0 0 62px" data-mobilemargin="0 0 0 0">
                            <div class="icon-wrap">
                                <i class="fa fa-clock-o"></i>
                            </div>
                            <div class="text-wrap">
                                <h5 class="heading letter-spacing--1"><a href="#">Opening All Week</a></h5>
                                <p class="desc">6.00 am - 17.00pm</p>
                            </div>
                        </div>
                    </div>
                </div><!-- /.col-md-3 -->
            </div>
        </div>
    </section>
    <!-- END ICON BOX -->

{% endblock %}