{% extends 'user/base.html' %}

{% load static %}

{% block title %}View Feedback page{% endblock %}

{% block content %}
    <!-- <script>
         function totalAmount() {
             var x = document.getElementById("quantity").value;
             var price = document.getElementById("price").textContent;
             var p = parseInt(price)
             var total = x * p;
             document.getElementById("totalPrice").innerHTML = total;
         }
     </script>-->

    <!--<script type="text/javascript">

        function totalAmount(orderId) {
            {#            alert("orderId   " + orderId);#}
            var quantity = document.getElementById("quantity" + orderId).value;
            {#            alert("quantity   " + quantity);#}

            var ajax = new XMLHttpRequest();

            ajax.onreadystatechange = function () {

                if (ajax.readyState == 4) {

                    var jsn = JSON.parse(ajax.responseText);

                    var totalAmount = jsn['totalAmount']
                    var totalOrderAmount = jsn['totalOrderAmount']
                    {#                    alert("ajax total prise   "+totalOrderAmount)#}
                    document.getElementById("totalPrice" + orderId).textContent = totalAmount
                    document.getElementById("totalOrderAmount").textContent = totalOrderAmount
                }
            };
            ajax.open("get", "/totalAmount?orderId=" + orderId + "&quantity=" + quantity, true);

            ajax.send()
        }

    </script>-->

    <!--<script type="text/javascript">

        function deleteOrder(id) {
            {#            alert("orderId   " + orderId);#}
            var id = id;
            {#            alert("quantity   " + quantity);#}

            var ajax = new XMLHttpRequest();

            ajax.onreadystatechange = function () {

                if (ajax.readyState == 4) {

                    var jsn = JSON.parse(ajax.responseText);

                    document.getElementById("deleteId" + id).remove();
                    var totalOrderAmount = jsn['totalOrderAmount']
                    document.getElementById("totalOrderAmount").textContent = totalOrderAmount


                }
            };
            ajax.open("get", "/deleteOrder?orderId=" + id, true);

            ajax.send()
        }
    </script>-->

    <script type="text/javascript">

        function deleteOrder(orderId, productId) {
            alert("orderId   " + orderId);
            {#            alert("quantity   " + quantity);#}

            var ajax = new XMLHttpRequest();

            ajax.onreadystatechange = function () {

                if (ajax.readyState == 4) {

                    var jsn = JSON.parse(ajax.responseText);
                    var msg = jsn['msg']

                    document.getElementById("deleteId" + productId).remove();
                    document.getElementById("msg").textContent = msg


                }
            };
            ajax.open("get", "/cancleOrder?productId=" + productId + "&orderId=" + orderId, true);

            ajax.send()
        }
    </script>


    <style>
        table {
        {#            font-family: arial, sans-serif;#} border-collapse: collapse;
            width: 100%;
            border: 0px solid white;
        }

        th {
            border: 1px solid white;
            text-align: center;
            font-weight: bold;
            padding: 10px;
        }

        td {
            border: 1px solid white;
            text-align: center;
            padding: 12px;
        }

        tr:nth-child(even) {
            background-color: hsla(0, 10%, 90%, 0.3);;
        }
    </style>

    <div class="total_area" style="padding-top: 30px;">
        <div style="background-color: hsla(0, 10%, 70%, 0.3); margin-bottom: 15px;">
            <center>
                <div class="page-title-heading">
                    <h1 class="title">View Feedback</h1>
                </div><!-- /.page-title-heading -->
                <div class="breadcrumbs" style="margin-top: 20px;">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/viewFeedback">View Feedback</a></li>
                    </ul>
                </div>
            </center>
        </div>
    </div>

    <section id="cart_items">
        <div class="container">

            <p id="msg">{% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}</p>
            {% if getFeedbackList %}
                <div class="table-responsive cart_info" style="padding-top: 30px;">
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th class="image">product</th>
                            <th class="description">feedback</th>
                            <th class="description">rating</th>
                            <th class="quantity">Date time</th>
                        </tr>
                        </thead>
                        {% for i in getFeedbackList %}
                            <tbody>
                            {% csrf_token %}
                            <tr>
                                <td>{{ i.productId.name }}</td>
                                <td>{{ i.feedback }}</td>
                                <td>{{ i.rating }}</td>
                                <td>{{ i.feedbackDate }},{{ i.feedbackTime }}</td>
                            </tr>

                            </tbody>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}
        </div>
    </section> <!--/#cart_items-->

{% endblock %}



{% block js %}

    <script>

        jQuery(document).ready(function () {
            // This button will increment the value
            $('.qtyplus').click(function (e) {
                // Stop acting like a button
                e.preventDefault();
                // Get the field name
                fieldName = $(this).attr('field');
                // Get its current value
                var currentVal = parseInt($('input[id=' + fieldName + ']').val());
                // If is not undefined
                if (!isNaN(currentVal)) {
                    // Increment
                    $('input[id=' + fieldName + ']').val(currentVal + 1);
                } else {
                    // Otherwise put a 0 there
                    $('input[id=' + fieldName + ']').val(0);
                }
            });
            // This button will decrement the value till 0
            $(".qtyminus").click(function (e) {
                // Stop acting like a button
                e.preventDefault();
                // Get the field name
                fieldName = $(this).attr('field');
                // Get its current value
                var currentVal = parseInt($('input[id=' + fieldName + ']').val());
                // If it isn't undefined or its greater than 0
                if (!isNaN(currentVal) && currentVal > 0) {
                    // Decrement one
                    $('input[id=' + fieldName + ']').val(currentVal - 1);
                } else {
                    // Otherwise put a 0 there
                    $('input[id=' + fieldName + ']').val(0);
                }
            });
        });


    </script>

{% endblock %}